<!-- Partners / Trust Section -->
<section class="partners">
    <div class="container">
        <p class="partners-label animate-on-scroll">Ils nous font confiance</p>
    </div>
    <div class="partners-marquee">
        <div class="partners-fade partners-fade--left"></div>
        <div class="partners-fade partners-fade--right"></div>
        <div class="partners-wrapper">
            <div class="partners-track">
                <div class="partner-logo">
                    <i class="fa-brands fa-google"></i>
                    <span>Google</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-microsoft"></i>
                    <span>Microsoft</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-aws"></i>
                    <span>AWS</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-stripe-s"></i>
                    <span>Stripe</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-slack"></i>
                    <span>Slack</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-figma"></i>
                    <span>Figma</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-github"></i>
                    <span>GitHub</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-shopify"></i>
                    <span>Shopify</span>
                </div>
            </div>
            <!-- Duplicate for seamless infinite loop -->
            <div class="partners-track" aria-hidden="true">
                <div class="partner-logo">
                    <i class="fa-brands fa-google"></i>
                    <span>Google</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-microsoft"></i>
                    <span>Microsoft</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-aws"></i>
                    <span>AWS</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-stripe-s"></i>
                    <span>Stripe</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-slack"></i>
                    <span>Slack</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-figma"></i>
                    <span>Figma</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-github"></i>
                    <span>GitHub</span>
                </div>
                <div class="partner-logo">
                    <i class="fa-brands fa-shopify"></i>
                    <span>Shopify</span>
                </div>
            </div>
        </div>
    </div>
</section>
